# Snakemake
.snakemake/

# Pipeline results
results/

# Logs
logs/*
!logs/README.md

# Results (keep ground_truth)
results/*
!results/ground_truth/
!results/comparison.txt

# Data (keep test data)
data/*
!data/test/

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Environments
.conda/
env/

# OS
.DS_Store
Thmubs.db
